/* Styling for the 'Check In' button */
.checkInButton {
    font-family: 'poppins', sans-serif;
    background-color: #265ef8; /* Blue color */
    color: white;
    padding: 12px 24px; /* Equal padding for both buttons */
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 160px; /* Set a minimum width for consistency */
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.checkInButton:hover {
    background-color: #405fad; /* Darker blue on hover */
    transform: translateY(-5px); /* Slight lift effect */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Darker shadow on hover */
}

.checkInButton:focus {
    outline: none;
}

