.filter-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    outline: none;
    z-index: 1000;
}

.filter-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1100;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

.apply-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.apply-button:hover {
    background-color: #0056b3;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .filter-modal-content {
        width: 85%;
        padding: 15px;
    }

    .filter-h2 {
        font-size: 1.5rem;
    }

    .filter-group select {
        padding: 10px;
        font-size: 14px;
    }

    .apply-button {
        padding: 8px;
        font-size: 14px;
    }
}