/* Styling for the 'New Transaction' button */
.newTransactionButton {
    font-family: 'poppins', sans-serif;
    background-color: #38b000; /* Green color */
    color: white;
    padding: 12px 24px; /* Same padding as the Check In button */
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 160px; /* Set a minimum width for consistency */
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.newTransactionButton:hover {
    background-color: #2e8a00; /* Darker green on hover */
    transform: translateY(-5px); /* Slight lift effect */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Darker shadow on hover */
}

.newTransactionButton:focus{
    outline: none;
}
