# Node modules
node_modules/

# Logs
logs
*.log

# Build output
dist/
build/
/frontend/node_modules/
/frontend/admin/node_modules/
/frontend/login/node_modules/

# Environment variables
.env

# Other files to ignore
.DS_Store
Thumbs.db

# Optional: Ignore any IDE-specific files
.idea/
.vscode/