/* Existing styles */
.container {
  display: flex;
  padding: 20px;
  margin-top: 65px;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  height: auto; /* Change to auto for responsiveness */
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    padding: 10px; /* Adjust padding */
  }

  .leftPane, .rightPane {
    width: 100%; /* Full width for both panes */
    height: auto; /* Allow height to adjust */
  }

}