.container {
  display: flex;
  padding: 20px;
  margin-top: 65px;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  height: 200vh; /* Set the container height to full viewport height */
}

.leftPane {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Make the left pane scrollable */
  height: 100%; /* Ensure it doesn't exceed the container height */
}

.rightPane {
  flex: 1; /* Take up remaining space */
  position: fixed; /* Keep it fixed */
  right: 20px; /* Adjust as needed */
  top: 85px; /* Adjust as needed */
  bottom: 20px; /* Adjust as needed */
}