.member-tracking {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjusted drop shadow */
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px 40px;
  margin-left: 20px;
  width: calc(100% - 40px); /* Adjust width to account for padding */
}
/* In your CustomerTracking.css */
.date-section {
  display: flex;
  align-items: center;
  gap: 10px;
}


.current-date {
  margin: 0 10px;
  font-size: 14px;
  white-space: nowrap;
}
.member-tracking-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis if text is too long */
}

.member-tracking h1 {
  font-size: 30px;
  font-weight: 700;
  color: #333;
}

.member-tracking-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 15px;
  table-layout: fixed; /* Ensures even spacing */
}

.member-tracking-table th, .member-tracking-table td {
  padding: 8px;
  text-align: left;
}

.member-tracking-table th {
  font-weight: 600;
  border-bottom: 1px solid #ddd; /* Changed to a lighter border */
}

.member-tracking-table td {
  font-weight: 400;
}

/* Adjust column widths */
.member-tracking-table th:nth-child(1), .member-tracking-table td:nth-child(1) {
  width: 35%; /* Name */
}

.member-tracking-table th:nth-child(2), .member-tracking-table td:nth-child(2) {
  width: 25%; /* Timestamp */
}

.member-tracking-table th:nth-child(3), .member-tracking-table td:nth-child(3) {
  width: 15%; /* Role */
}

.member-tracking-table th:nth-child(4), .member-tracking-table td:nth-child(4) {
  width: 25%; /* Payment */
}

@media (max-width: 768px) {
  .member-tracking {
    padding: 10px 20px;
    margin-left: 0;
    width: calc(100% - 20px); /* Adjust width for smaller screens */
  }

  .member-tracking-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .member-tracking h1 {
    font-size: 24px;
  }

  .member-tracking-table {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .member-tracking {
    padding: 5px 10px;
    width: calc(100% - 10px); /* Further adjust width for very small screens */
  }

  .member-tracking h1 {
    font-size: 20px;
  }

  .member-tracking-table {
    font-size: 12px;
  }
}