/* Table Row Styles */
.table-row {
  transition: background-color 0.3s ease;
}

.table-row:hover {
  background-color: #f9f9f9;
}

/* Darkened Background Overlay */
.customerRecordsModalOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

/* Modal Content */
.customerRecordsModalContent {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  color: #333;
  width: 90%;
  max-width: 700px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  height: 650px; /* Adjust as needed */
}

.search-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.search-container {
  flex: 0; /* Prevent the search bar from growing */
}

.view-buttons {
  display: flex;
  gap: 10px;
}

/* Button Styles */
.btn,
.active-btn,
.deactivated-btn {
  padding: 5px 20px; /* Match padding with AccountModal buttons */
  font-size: 1rem;
  border: none;
  border-radius: 25px; /* Match border-radius with AccountModal buttons */
  cursor: pointer;
  background-color: #333;
  color: white;
  flex: 1; /* Ensure buttons take equal space */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn {
  background-color: #333;
  color: white;
}

.btn:disabled {
  background-color: #cccccc; /* Match disabled background */
  color: #aaa; /* Keep color consistent */
  cursor: not-allowed; /* Keep cursor style */
}

.btn:active {
  background-color: #333; /* Match disabled background */
  color: white; /* Keep color consistent */
}

.btn:hover:not(:disabled) {
  background-color: #0056b3; /* Match hover background */
}

.btn:focus {
  outline: none; /* Remove focus outline */
}

.active-btn {
  background-color: #4665aa;
  color: white;
  cursor: default;
}

.active-btn:hover {
  border: none;
  outline: none;
}

.active-btn:focus {
  outline: none;
}

.deactbtn {
  padding: 5px 10px; /* Match padding with AccountModal buttons */
  border: none; /* Remove borders */
  background-color: #d15757;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deactbtn:hover {
  background-color: #d62e2e;
}

.deactbtn:disabled {
  background-color: #cccccc; /* Match disabled background */
  color: #aaa; /* Keep color consistent */
  cursor: not-allowed;
}

.deactbtn:focus {
  outline: none
}

.deactivated-btn {
  background-color: #333;
  color: #ffffff;
}

.deactivated-btn:hover {
  background-color: #0056b3;
}

.deactivated-btn:focus {
  outline: none;
}

/* Table Section */
.table-section {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes the full height of the container */
  overflow-y: hidden;
}

.customer-table {
  width: 100%;
  height: 100%; /* Ensure it takes the full height of the container */
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 16px;
  table-layout: fixed;
}

.customer-table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.customer-table tbody {
  display: block;
  height: calc(100% - 40px); /* Adjust height to account for thead */
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.customer-table th, .customer-table td {
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
}

.customer-table th {
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}

.customer-table td {
  font-weight: 400;
}

/* Adjust column widths */
.customer-table th:nth-child(1), .customer-table td:nth-child(1) {
  width: 35%;
}

.customer-table th:nth-child(2), .customer-table td:nth-child(2) {
  width: 25%;
}

.customer-table th:nth-child(3), .customer-table td:nth-child(3) {
  width: 40%;
}

.no-data {
  font-size: 18px;
  color: #888;
}

.customer-table tbody {
  display: block;
  height: 100%; /* Adjust as needed */
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.customer-table thead, .customer-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.member-action-buttons {
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly */
  gap: 10px; /* Add space between the buttons */
  padding: 10px 0;
  background-color: white;
  border-top: 1px solid #ddd;
}

.info-btn,
.total-records-btn,
.deactivate-btn {
  padding: 5px 10px; /* Match padding with AccountModal buttons */
  font-size: 1rem;
  border: none;
  border-radius: 25px; /* Match border-radius with AccountModal buttons */
  cursor: pointer;
  background-color: #333;
  color: white;
  flex: 1; /* Ensure buttons take equal space */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.info-btn:disabled,
.total-records-btn:disabled,
.deactivate-btn:disabled {
  background-color: #cccccc; /* Change background for disabled button */
  cursor: not-allowed; /* Change cursor for disabled button */
}

.info-btn:hover:not(:disabled),
.total-records-btn:hover:not(:disabled),
.deactivate-btn:hover:not(:disabled) {
  background-color: #0056b3; /* Match hover color with AccountModal buttons */
  color: white;
  transform: translateY(-2px);
  opacity: 0.9;
}

.info-btn:focus,
.total-records-btn:focus,
.deactivate-btn:focus {
  outline: none;
}

.deactivated-accounts-button {
  display: flex;
  justify-content: center;
}

.deactivated-btn {
  padding: 5px 10px; /* Match padding with AccountModal buttons */
  font-size: 1rem;
  border: none;
  border-radius: 25px; /* Match border-radius with AccountModal buttons */
  cursor: pointer;
  background-color: #333;
  color: white;
  flex: 1; /* Ensure buttons take equal space */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.deactivated-btn:hover {
  background-color: #0056b3; /* Match hover color with AccountModal buttons */
  color: white;
  transform: translateY(-2px);
  opacity: 0.9;
}

.deactivated-btn:focus {
  outline: none;
}

/* Action Buttons */
.action-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.action-btn {
  padding: 5px 10px; /* Match padding with AccountModal buttons */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 25px; /* Match border-radius with AccountModal buttons */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.action-btn:hover {
  background-color: #0056b3; /* Match hover color with AccountModal buttons */
  color: white;
  transform: translateY(-2px);
  opacity: 0.9;
}

.member-row {
  cursor: pointer;
}

.member-row:hover {
  background-color: #f0f0f0;
}

.left-buttons,
.right-buttons {
  display: flex;
  gap: 10px;
}

.member-clickable-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.member-clickable-row:hover {
  background-color: #f0f0f0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .customerRecordsModalContent {
    width: 90%;
    height: 500px;
    padding: 20px;
    margin: 0px 5px;
  }

  .AccountHeader h2 {
    font-size: 28px;
  }

  .accountBackButton img {
    width: 30px;
    height: 30px;
  }
  .search-button-container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
  }

  .button-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .search-container {
    width: 100%;
  }

  .view-buttons {
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .action-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .left-buttons,
  .right-buttons {
    flex-direction: column;
    width: 100%;
  }

  .action-buttons button {
    max-width: none;
    width: 100%;
  }

  .customer-table th, .customer-table td {
    padding: 5px;
    font-size: 14px;
  }

  .customer-table tbody {
    height: calc(100% - 40px); /* Adjust height to account for thead */
  } 
}

@media (max-width: 480px) {
  .customerRecordsModalContent {
    width: 100%;
    height: 500px;
    padding: 15px;
  }

  .AccountHeader h2 {
    font-size: 24px;
  }

  .accountBackButton img {
    width: 25px;
    height: 25px;
  }

  .action-buttons button {
    padding: 8px;
    font-size: 0.9rem;
  }

  .customer-table {
    font-size: 12px;
  }

  .customer-table th, .customer-table td {
    padding: 4px;
  }

  .customer-table tbody {
    height: calc(100% - 40px); /* Adjust height to account for thead */
  }
}