.income-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: solid 1px;
  height: 500px;
  flex-grow: 1;
  box-sizing: border-box;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .income-summary {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .income-summary {
    height: 300px;
  }
}