.member-counting {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align items */
  padding: 20px; /* Add some padding */
  max-width: 800px; /* Set a max width for larger screens */
  margin: 0 auto; /* Center the component horizontally */
}

.member-counting h1 {
  margin-bottom: 20px; /* Space below the header */
  text-align: center; /* Center the header text */
  font-size: 2rem; /* Responsive font size */
  color: black;
}
/* Add this to your MemberCounting.css */
.member-counting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.year-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.year-selector select {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

@media (max-width: 600px) {
  .member-counting h1 {
      font-size: 1.5rem; /* Smaller font size for smaller screens */
  }

  .member-counting {
      padding: 10px; /* Less padding on smaller screens */
  }
}