.member-counting {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 500px;
    flex-grow: 1;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .member-counting {
      height: 400px;
    }
  }
  
  @media (max-width: 480px) {
    .member-counting {
      height: 300px;
    }
  }