/* Modal Overlay */
.reasonModalOverlay {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 10px;
  }
  
  /* Modal Content */
  .reasonModalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    color: #333;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: 'Poppins', sans-serif;
  }
  
  .reasonModalContent h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #dc3545;
  }
  
  .reasonModalContent p {
    margin-bottom: 20px;
  }
  
  .reasonModalContent textarea {
    width: calc(100% - 20px); /* Adjust width to fit within padding */
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /* Ensure padding is included in width */
    background-color: #fff;
    color: #333;
  }
  
  .reasonModalButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Match gap with AccountModal */
  }

  .reasonModalButtons button {
    flex: 1;
    padding: 5px 10px; /* Match padding with AccountModal buttons */
    font-size: 1rem; /* Match font size with AccountModal buttons */
    border: none;
    border-radius: 25px; /* Match border-radius with AccountModal buttons */
    cursor: pointer;
    background-color: #333;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .reasonModalButtons button:first-child {
    background-color: #f4f4f4;
    color: #333;
  }

  .reasonModalButtons button.Confirmbtn {
    background-color: #dc3545;
    color: white;
  }

  .reasonModalButtons button:focus {
    outline: none;
  }

  .reasonModalButtons button:hover {
    background-color: #0056b3; /* Match hover color with AccountModal buttons */
    color: white;
    transform: translateY(-2px);
    opacity: 0.9;
  }